.container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dark-mode {
  color: #ffffff;
  background-color: #000000;
}
.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.heading {
  font-family: 'roboto';
  font-size: 32px;
}
.card {
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}
